@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zain:wght@200;300;400;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Zain", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
}
/*paleta de colores https://colorhunt.co/palette/1e201e3c3d37697565ecdfcc*/
/*---------- menú superior ----------*/
header{
    position: fixed;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #333;
    z-index: 100;
}
.logo{
    max-width: 2rem;
}
.nav{
    width: 80%;
}
.nav li a:hover{
    background-color: #ECDFCC;
    color: #1E201E;
    border-radius: 3px;
}
.navList{
    list-style-type: none;
    gap: 1rem;
    display: flex;
    justify-content: space-around;
}
.navList li a{
    text-decoration: none;
    color: #ECDFCC;
    padding: 15px 20px
}
.abrirMenu,
.cerrarMenu{
    display: none;
}
/*-----------------------Menú hamburguesa-----------------------*/
@media screen and (max-width: 550px){
    .abrirMenu,
    .cerrarMenu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        color: #ECDFCC;
        cursor: pointer;
    }
    .abrirMenu img{
        width: 30px;
        filter: invert(1);
    }
    .cerrarMenu img{
        width: 30px;
        filter: invert(1);
    }
    .nav{
        width: 45%;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #333;
        padding: 1rem 1rem 0 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, -5);
        z-index: 100;
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .navList{
        flex-direction: column;
        align-items: end;
    }
}